.screen {
    padding: 85px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.screen:nth-child(odd) {
    background: -webkit-linear-gradient(45deg, rgb(57, 50, 68), rgb(114, 82, 52));
    background: -moz-linear-gradient(45deg, rgb(57, 50, 68), rgb(114, 82, 52));
    background: linear-gradient(45deg, rgb(57, 50, 68), rgb(114, 82, 52));
}

.screen__title {
    text-align: center;
    margin-bottom: 65px;
}

.screen:nth-child(odd)
.screen__title {
    color: #ffb215;
}


@media screen and (max-width: 876px){
    .screen {
        padding: 60px 0;
    }
    .screen__title {
        text-align: center;
        margin-bottom: 45px;
    }
}